<!--go code-->
<section class="go">
    <div class="ct-container ct-center">
        getting started is easy.be up and running in minutes
        <a href="/" class="g3-btn register-btn">get started <i class="fa fa-angle-right"></i></a>
    </div>
</section>
<!--footer code-->
<footer class="footer">
    <div class="ct-container">
        <div class="ct-row">
            <div class="ct-md-3 ct-sm-12">
                <a href="/" class="footer-logo"><img src="{{ site.baseurl }}/assets/images/docs-logo2.png"></a>
            </div>
            <nav class="ct-md-2 ct-sm-6">
                <h4 class="footer-title">tour</h4>
                <a href="/">Overview</a>
                <a href="/">Features</a>
                <a href="/">Business</a>
            </nav>
            <nav class="ct-md-2 ct-sm-6">
                <h4 class="footer-title">learn</h4>
                <a href="/">Support</a>
                <a href="/">Libraries</a>
                <a href="/">Documentation</a>
            </nav>
            <nav class="ct-md-2 ct-sm-6">
                <h4 class="footer-title">company</h4>
                <a href="/">Our Team</a>
                <a href="/">Jobs</a>
                <a href="/">BuPress Kitsiness</a>
            </nav>
            <nav class="ct-md-3 ct-sm-6">
                <h4 class="footer-title">contact</h4>
                <p>+1 (415) 735-4170
                    <br><a href="/">Contact us</a></p>
                <address>101 15th Street,
                    <br>San Francisco, CA 94103</address>
            </nav>
        </div>
    </div>
    <div class="ct-container">
        <div class="footer-legal ct-md-offset-3 ct-md-9">
            © 2015 Get3w.com
            <nav class="legal-nav">
                <a href="/">About Us</a>
                <a href="/">Contact Us</a>
            </nav>
        </div>
    </div>
</footer>
