<header class="header liner-bg">
  <div class="ct-container">
    <div class="navigation">
      <div class="navbar-header">
        <a class="logo ct-fl" href="javascript:void();">
          <img src="{{ site.baseurl }}/assets/images/docs-logo.png" alt="logo">
        </a>
        <a href="/" class="navbar-toggle ct-fr"><i class="fa fa-reorder"></i></a>
      </div>
      <div class="navbar-collapse collapse ct-fr">
        <nav class="nav">
          <a href="index.html">index</a>
          <a href="explore.html">explore</a>
          <a href="docs.html">Docs</a>
          <a href="app.html">apps</a>
          <a href="user.html">user</a>
          <a class='dropdown-button' href='#'>
          <span class="octicon octicon-globe"></span> 多语言</a>
          <select id="lang-select" data-canonical="">
            <option value="en" href="baidu.com" selected="">English</option>
            <option value="zh-tw">正體中文</option>
            <option value="zh-cn">简体中文</option>
          </select>
        </nav>
      </div>
    </div>
  </div>
</header>
