<header class="header liner-bg">
  <div class="ct-container">
    <div class="navigation">
      <div class="navbar-header">
        <a class="logo ct-fl" href="javascript:void();">
          <img src="{{ site.baseurl }}/assets/images/docs-logo.png" alt="logo">
        </a>
        <a href="/" class="navbar-toggle ct-fr"><i class="fa fa-reorder"></i></a>
      </div>
      <div class="navbar-collapse collapse ct-fr">
        <nav class="nav">
          <a href="index.html">index</a>
          <a href="explore.html">explore</a>
          <a href="docs.html">Docs</a>
          <a href="app.html">apps</a>
          <a href="user.html">user</a>
          <a class='ct-dropdown-button ct-btn' href='#' data-activates='dropdown1'>Languase</a>
          <ul id='dropdown1' class='ct-dropdown-content'>
            <li><a href="#!">English</a></li>
            <li><a href="#!">Chinese</a></li>
            <li><a href="#!">Franch</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
