<h4>开始使用</h4>
<ul>
  <li>
    <a href="{{ site.baseurl }}/home.html" {% if page.current == 'home' %}class="active"{% endif %}>
      <span>概述</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/installation.html"{% if page.current == 'installation' %} class="active"{% endif %}>
      <span>安装</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/setup.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>建站</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'configuration' %} class="active"{% endif %}>
      <span>配置</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/usage.html"{% if page.current == 'usage' %} class="active"{% endif %}>
      <span>命令</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/structure.html"{% if page.current == 'structure' %} class="active"{% endif %}>
      <span>目录结构</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/migrations.html"{% if page.current == 'migrations' %} class="active"{% endif %}>
      <span>迁移</span>
    </a>
  </li>
</ul>
<h4>基本操作
</h4>
<ul>
  <li>
    <a href="{{ site.baseurl }}/frontmatter.html"{% if page.current == 'frontmatter' %} class="active"{% endif %}>
      <span>头部配置信息</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/posts.html"{% if page.current == 'posts' %} class="active"{% endif %}>
      <span>文章</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/drafts.html"{% if page.current == 'drafts' %} class="active"{% endif %}>
      <span>草稿</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/pages.html"{% if page.current == 'pages' %} class="active"{% endif %}>
      <span>页面</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/static-files.html"{% if page.current == 'static-files' %} class="active"{% endif %}>
      <span>静态文件</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/variables.html"{% if page.current == 'variables' %} class="active"{% endif %}>
      <span>变量</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/collections.html"{% if page.current == 'collections' %} class="active"{% endif %}>
      <span>集合（Collections）</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/datafiles.html"{% if page.current == 'datafiles' %} class="active"{% endif %}>
      <span>数据文件</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/assets.html"{% if page.current == 'assets' %} class="active"{% endif %}>
      <span>资源</span>
    </a>
  </li>
</ul>
<h4>自定义</h4>
<ul>
  <li>
    <a href="{{ site.baseurl }}/templates.html"{% if page.current == 'templates' %} class="active"{% endif %}>
      <span>模板</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/permalinks.html"{% if page.current == 'permalinks' %} class="active"{% endif %}>
      <span>永久链接</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/pagination.html"{% if page.current == 'pagination' %} class="active"{% endif %}>
      <span>分页功能</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/plugins.html"{% if page.current == 'plugins' %} class="active"{% endif %}>
      <span>插件</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/highlight.html"{% if page.current == 'highlight' %} class="active"{% endif %}>
      <span>代码高亮</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/extras.html"{% if page.current == 'extras' %} class="active"{% endif %}>
      <span>附加功能</span>
    </a>
  </li>
</ul>
<h4>其他</h4>
<ul>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>GitHub Pages</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>部署方法</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>持续集成</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>常见问题</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>使用 Get3w 的站点</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>相关资源</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>升级</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/configuration.html"{% if page.current == 'setup' %} class="active"{% endif %}>
      <span>贡献</span>
    </a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/history.html"{% if page.current == 'history' %} class="active"{% endif %}>
      <span>History</span>
    </a>
  </li>
</ul>
